body {
  margin: 0;
  padding: 0;
  background-color: #0d1e26;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cecfc9;
}

.list-nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.list-nav li:hover {
  transform: scale(1.1);
}

.list-nav li a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: rgb(61, 65, 68);
  font-weight: bold;
  margin-right: 10px;
}

.list-nav li a:hover {
  color: #ffffff;
}

.logo {
  width: 110px;
  height: 105px;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.gothic-button {
  color: #ffffff;
  border: 2px solid #f2aa1f; 
  border-radius: 20px; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 15px; 
  font-weight: bold; 
  background-color: #f2aa1f; 
}

/* Estilo cuando el cursor está sobre el botón */
.gothic-button:hover {
  background-color: #ffffff; 
  color: black;
  border: 2px solid #ffffff; 
}

header {
  display: flex;
  justify-content: center;
}

.content-title {
  background-color: #f2aa1f;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 20px 0px 20px 0px;
  
}

.title{
  color: white;
  font-size: 24px;
  width: 80%;
  height: 80%;
  text-align: center;
}

main{
  display: flex;
  justify-content: center;
}

.content-button{
  display: flex;
  flex-direction: column;

}

.content-button input{
  outline: none;
}

#city {
  text-align: center;
  height: 30px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #114358;
}

::placeholder {
  color: rgba(231, 231, 217, 0.788);
}

button {
  color: rgb(255, 255, 255);
  border-radius: 28px;
  background-color: #f2aa1f;
  font-size: 27px;
  width: 300px;
  cursor: pointer;
  margin-top: 20px;
}

#weatherInfo {
  background-color: rgba(130, 136, 136, 0.495);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
}

.temp {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.icon {
  height: 100px;
  width: 100px;
}

footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

footer a {
  color: white;
}
