*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos del Header y la barra de navegacion */
#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cecfc9;
}

.list-nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.list-nav li {
  transition: all 0.4s;
  margin-left: 20px;
  margin-right: 20px;
}

.list-nav li:hover {
  transform: scale(1.1);
}

.list-nav li a {
  /* font-family: 'navfont'; */
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: rgb(61, 65, 68);
  font-weight: bold;
}

.list-nav li a:hover {
  color: #ffffff;
}

.logo {
  width: 110px;
  height: 105px;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.gothic-button {
  color: #ffffff; /* Texto en blanco */
  border: 2px solid #f2aa1f; /* Borde oscuro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interior del botón */
  text-align: center; /* Centrar el texto horizontalmente */
  text-decoration: none; /* Quitar subrayado del enlace */
  font-size: 15px; /* Tamaño de fuente */
  font-weight: bold; /*Grosor de la fuente*/
  background-color: #f2aa1f; /* Color de fondo ligeramente más claro en el hover */
}

/* Estilo cuando el cursor está sobre el botón */
.gothic-button:hover {
  background-color: #ffffff; /* Color de fondo oscuro */
  color: black;
  border: 2px solid #ffffff; /* Borde oscuro */
}

/* Estilos de la Seccion IM */

.section_Im {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0d1e26;
  overflow: hidden; /* Para ocultar la imagen que se desborda */
  box-shadow: 0px 5px 15px rgb(0, 0, 0); /* Agregar sombra en la parte inferior */
}
.content_profile {
  display: flex;
  justify-content: flex-start;
  height: 650px;
  width: 500px;
  /* background-color: #3c3939; */
}

.content_profile .img_profile {
  max-width: 100%;
  transition: all 0.8s;
  max-height: 100%;
  padding-top: 70px;
  filter: grayscale(100%); /* Aplica un filtro de blanco y negro al 100% */
  opacity: 0.7; /* Ajusta la opacidad (valores entre 0 y 1) */
}

.content_profile_description {
  transition: all 0.8s;
  text-align: center;
}

.content_profile_description h1 {
  text-align: center;
  color: white;
}

@font-face {
  font-family: "name_h1";
  src: url(/assets/fonts/EBGaramond-Bold.ttf); /*cambiar diseño de fuente*/
}

.content_profile_description h1 b {
  font-family: "name_h1";
  font-weight: bold;
  font-size: 60px;
  color: #f2aa1f;

  text-align: center;
}

.content_profile_description h2 {
  color: white;
}

/* Estilos de la Seccion About */

#Section-About {
  background-color: #0d1e26;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.content-about {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
  margin: 40px;
  font-size: 20px;
}

.Title-About {
  margin: 20px 0px 40px 0px;
}

.content-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Title-skills {
  text-align: center;
  color: #ffffff;
}

.content-svg-skills {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  background-color: #333333ac;
  margin: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: background-color 0.2s ease;
}

.content-svg-skills:hover {
  background-color: #f2aa1f;
}

.content-svg-skills h3 {
  font-size: 25px;
  margin-top: 40px;
  color: #ffffff;
}

.svg {
  max-width: 40%;
  max-height: 40%;
}

.span {
  display: flex;
}

.span2 {
  height: 2px;
  width: 500px;
  padding: 2px;
  margin: 10px 20px 0px 10px;
  background-color: #f2aa1f;
}

/* Estilos de la seccion Portafolio */

#Section-Portafolio {
  background-color: #0d1e26;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.Title-portafolio {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.content-portafolio {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.content-img-portafolio {
  position: relative;
  width: 300px;
  margin: 15px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 115, 115, 0.273);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-img-portafolio:hover .overlay {
  opacity: 1;
}

.project-description {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.project-button {
  background-color: #f2aa1f;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #333333;
}

.img_portafolio {
  max-width: 100%;
  max-height: 100%;
}

/* Estilos para la Seccion de Experience */
#Section-Experience {
  background-color: #0d1e26;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.Title-Experience {
  margin: 20px 0px 70px 60px;
  color: #ffffff;
}

.content-experience {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content-experience-details {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  align-items: flex-start;
  position: relative; /* Para establecer una referencia de posición para la línea */
}

.content-info-experience {
  margin-left: 30px;
}

.content-experience-date {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: #f2aa1f;
  height: 30px;
  width: 70px;
  margin: 0px 15px 10px 0px;
}

.content-experience-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-experience-circle p {
  background-color: #f2aa1f;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px #ff8818;
  z-index: 1;
}

.span3 {
  margin: 40px 20px 0px 20px;
  position: absolute; /* Hacemos que la línea tenga una posición absoluta */
  height: 90%; /* Ocupa la altura completa del div */
  width: 2px;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 10px;
}

/* Estilos para la Seccion de Contact */

#Section-Contact {
  background-color: #0d1e26;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.Title-Contact {
  color: #ffffff;
  text-align: center;
}

.content-contact {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px; /* Espacio entre los divs */
  text-align: center; /* Para centrar el contenido de los divs */
  margin: 40px 0px 0px 0px;
}

.content-info-contact {
  display: grid;
  color: #ffffff;
  background-color: #333333;
  justify-self: center; 
  width: 350px;
  border-radius: 20px;
}

.content-info-contact:nth-child(3) {
  grid-column: span 2; /* Hacer que ocupe dos columnas */
  justify-self: center; /* Centra horizontalmente dentro de su espacio asignado */
}

.content-info-contact p{
  color: #f2aa1f;
  font-size: 20px;
}

.content-info-contact i{
  font-size: 20px;
}

/* Estilos para el botón de scroll */

.scroll-top-button {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fijo en la pantalla */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la derecha */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Fondo blanco semi-transparente */
  border: none;
  border-radius: 50%; /* Hacerlo redondo */
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-top-button i {
  font-size: 24px;
  line-height: 40px;
  color: #333; /* Color del icono */
}

.scroll-top-button:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Cambia el fondo en el hover */
}

.scroll-top-button.active {
  transform: scale(1.1); /* Cambia el tamaño al hacer clic */
}

/* Estilos del Footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #cecfc9;
  height: 80px;
  align-items: center;
  align-content: center;
}

.ul_f {
  display: flex;

}

.ul_f .li {
  display: flex;
  transition: all 0.6s ease;
  justify-content: space-around;
  margin-right: 20px;
}

.ul_f .li:hover {
  transform: rotate(360deg);
}

.ul_f .li i {
  /* color: rgb(0, 0, 0); */
  color: #8e6616;
  font-size: 25px;
}
